header {
    width: 100%;
    height: 83px;
    background-color: #131313;
}

.header-wrapper {
    width: 100%;
    max-width: 1438px;
    height: 100%;
    padding: 0 90px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    text-transform: uppercase;
}

.header-wrapper h4 {
    color: #E3B873;
}

.header-wrapper .header-menu {
    list-style: none;
    min-width: 581px;
}

.header-wrapper .header-menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-wrapper .header-menu li:hover a,
.header-wrapper .header-menu li:active a {
    color: #E3B873;
}

.header-wrapper .header-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper .header-contact a {
    color: #E3B873;
    margin-right: 45px;
}

.header-wrapper .header-contact button {
    width: 161px;
    height: 37px;
}

.home-wrapper {
    width: 100%;
    height: 707px;
    background: url("../images/image\ 4.3.svg") no-repeat;
    background-size: cover;
    position: relative;
}

.canvas {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-content {
    margin-left: 134px;
    width: 676px;
    margin-top: 194px;
}

.home-content h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-size: 40px;
    line-height: 53px;
}

.home-content h1 span {
    color: #E3B873;
}

.home-content p {
    font-family: 'Nunito Sans';
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
    margin-top: 19px;
    margin-bottom: 41px;
}

.home-content .button-block button {
    width: 207px;
    height: 51px;
}

.home-content .button-block .button-transparent {
    margin-left: 20px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #131313;
    padding: 0 134px;
}

.projects-wrapper .projects-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.projects-wrapper .projects-content .projects-content-left {
    width: 40%;
    min-width: 442px;

}